In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df = pd.read_csv("C:\\Users\\HP\\Downloads\\energydata_complete.csv")

In [4]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [10]:
#Number 18
df = df.drop(columns=['date', 'lights'])

In [64]:
#Number 17, train a model and get Rmse
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
#the columns
X = df[['T2']]
y = df['T6']
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3, random_state=42)

# train the linear regression model
model = LinearRegression()
model.fit(X, y)

#make predictions on the test data
predicted_values = model.predict(X_test)

# Calculate the rms
rmse_train = np.sqrt(mean_squared_error(y_test, predicted_values))
rmse = round(rmse, 3)


# Print the RMSE with 3 decimal places
print(f"Root Mean Squared Error: {rmse_train}")

Root Mean Squared Error: 3.6302184360792475

In [65]:
#Number 19

X = df.drop(columns=["Appliances"])
y = df["Appliances"]

# Split the data into training and testing sets (70% training, 30% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Normalize the features using MinMaxScaler
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# Create and train a multiple linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the training set
y_train_pred = model.predict(X_train)

# Calculate the Mean Absolute Error (MAE) for the training set
mae_train = mean_absolute_error(y_test, predicted_values)
mae = round(mae, 3)

# Print the MAE for the training set with three decimal places
print(f"Mean Absolute Error: {mae_train}")

Mean Absolute Error: 89.70407463981306

In [67]:
# Calculate the RMSE for the training set
rmse_train = np.sqrt(mean_squared_error(y_train, y_train_pred))

# Print the RMSE for the training set with three decimal places
print(f"Root Mean Squared Error: {rmse_train}")

Root Mean Squared Error (Training Set): 95.216

In [68]:
#using MinMaxScaler
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

# linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the test set
y_test_pred = model.predict(X_test)

# Calculate the MAE for the test set
mae_test = mean_absolute_error(y_test, y_test_pred)

# Print the MAE for the test set with three decimal places
print(f"Mean Absolute Error: {mae_test}")

Mean Absolute Error: 53.642977655849585

In [69]:
# Normalize the features using MinMaxScaler
scaler = MinMaxScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

#linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions
y_test_pred = model.predict(X_test)

# Calculate the rmse
rmse_test = np.sqrt(mean_squared_error(y_test, y_test_pred))

# Print the rmse
print(f"Root Mean Squared Error: {rmse_test}")

Root Mean Squared Error: 93.64046093998029

In [70]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.5)
model = ridge_reg.fit(X_train, y_train)

# Make predictions on the test set
y_test_pred = model.predict(X_test)

# Calculate the RMSE for the test set
rmse_test = np.sqrt(mean_squared_error(y_test, y_test_pred))

# Print the RMSE for the test set with three decimal places
print(f"Root Mean Squared Error: {rmse_test}")

Root Mean Squared Error: 93.6671419552364

In [84]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso()
lasso_reg.fit(X_train, y_train)

feature_weights = pd.DataFrame({'Feature': X.columns, 'Weight': lasso_reg.coef_})

# Print the DataFrame
print(feature_weights)

        Feature     Weight
0            T1   0.000000
1          RH_1  56.944516
2            T2   0.000000
3          RH_2  -0.000000
4            T3   0.000000
5          RH_3   0.000000
6            T4  -0.000000
7          RH_4   0.000000
8            T5  -0.000000
9          RH_5   0.000000
10           T6   0.000000
11         RH_6  -0.000000
12           T7  -0.000000
13         RH_7  -0.000000
14           T8   0.000000
15         RH_8 -26.102888
16           T9  -0.000000
17         RH_9  -0.000000
18        T_out   0.000000
19  Press_mm_hg  -0.000000
20       RH_out -50.293976
21    Windspeed   5.143148
22   Visibility   0.000000
23    Tdewpoint  -0.000000
24          rv1  -0.000000
25          rv2  -0.000000

In [78]:
#number 25
# Lasso regression model
lasso_model = Lasso(alpha= 0.001)
lasso_model.fit(X_train, y_train)

# Make predictions on the test 
y_test_pred = lasso_model.predict(X_test)

# Calculate the RMSE for the test 
rmse = np.sqrt(mean_squared_error(y_test, y_test_pred))
rmse = rmse.round(3)

# Print the RMSE for the test 
print(f"Root Mean Squared Error: {rmse_test}")

Root Mean Squared Error: 93.6671419552364